<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/custom.form.css">
</head>
<body>
<!--新增权限接口div-->
<div class="panel panel-default operation_menu" hidden>
    <div class="panel-heading title"></div>
    <div class="layui-card-body">
        <form class="layui-form " action="" lay-filter="deptInfo" style="width: 700px;margin-top: 10px">
            <input name="id" hidden/>
            <input name="pid" hidden/>
            <div class="layui-form-item">
                <label class="layui-form-label">类型</label>
                <div class="layui-input-block">
                    <input type="radio" name="type" value="1" title="目录" checked="" lay-filter="radiotype">
                    <input type="radio" name="type" value="2" title="菜单" lay-filter="radio-type">
                    <input type="radio" name="type" value="3" title="按钮" lay-filter="radio-type">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">菜单名称</label>
                <div class="layui-input-block">
                    <input type="name" name="name" placeholder="请输入菜单名称" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">所属菜单</div>
                <div class="layui-input-block">
                    <input type="pidName" name="pidName" placeholder="请选择所属菜单" autocomplete="off"
                           class="layui-input" readonly="readonly" style="background:#eeeeee!important">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label ">接口URL</label>
                <div class="layui-input-block">
                    <input type="text" name="url" placeholder="请输入接口URL" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item menu-perms" hidden>
                <div class="layui-form-label">授权标识</div>
                <div class="layui-input-block">
                    <input type="perms" name="perms" placeholder="请输入授权标识,如果 sys:user:list"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item menu-method" hidden>
                <div class="layui-form-label">请求方式</div>
                <div class="layui-input-block">
                    <input type="method" name="method" placeholder="请输入请求方式，如 GET、POST"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item menu-btn" hidden>
                <div class="layui-form-label">按钮标识</div>
                <div class="layui-input-block">
                    <input type="code" name="code" placeholder="请输入前后端分离按钮控制标识,如果 btnpermission-list" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label">排序码</div>
                <div class="layui-input-block">
                    <input type="text" name="orderNum" lay-verify="number"
                           onkeyup="value=zhzs(this.value)" placeholder="请输入排序码" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="status" lay-skin="switch" lay-filter="switch" laytext="启用|禁用" checked>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit">保存
                    </button>
                    <button class="layui-btn layui-btn-primary" id="btn_cancel">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="menu-table">
    <table class="layui-table" id="menuTable" lay-filter="menuTablel">

    </table>
</div>
<div id="menuTree">

</div>
</body>
<script src="/layui/layui.js"></script>
<script src="/js/core.util.js"></script>
<script type="text/html" id="toolbar">
    <div class="layui-btn-group">
        <button type="button" class="layui-btn" lay-event="addMenu">
            <i class="layui-icon">&#xe608;</i> 添加
        </button>
    </div>
</script>
<script>
    layui.config({
        base: '/'
    }).extend({
        treetable: 'treetable-lay/treetable'
    }).use(['treetable', 'table', 'tree', 'jquery', 'form'], function () {
        var layer = layui.layer;
        var $ = layui.jquery;
        var form = layui.form;
        var treetable = layui.treetable;
        var table = layui.table;
        var tree = layui.tree;

        var selectNode = true;

        /*获取所有的菜单权限数据*/
        CoreUtil.sendAjax("/api/permissions", null, function (res) {
            // console.log(res.data);
            renderTable(res.data);
        }, "GET", true, null, false);

        var renderTable = function (data) {
            treetable.render({
                data: data,
                treeColIndex: 1,
                treeSpid: 0,
                treeIdName: 'id',
                treePidName: 'pid',
                treeDefaultClose: false,
                treeLinkage: false,
                elem: '#menuTable',
                page: false,
                cols: [
                    [
                        {type: 'numbers'},
                        {field: 'name', title: '菜单名称'},
                        {filed: 'url', title: 'url'},
                        {filed: 'method', title: '请求方式'},
                        {
                            field: 'type', title: '类型', templet: function (item) {
                                if (item.type === 1) {
                                    return `<a class="layui-btn layui-btn-xs">目录</a>`;
                                } else if (item.type === 2) {
                                    return `<a class="layui-btn layui-btn-xs layui-btn-normal">菜单</a>`;
                                } else if (item.type === 3) {
                                    return `<a class="layui-btn layui-btn-xs layui-btn-warm">按钮</a>`;
                                }
                            }
                        },
                        {field: 'pidName', title: '父级名称'},
                        {field: 'orderNum', title: '排序'},
                        {field: 'perms', title: '资源标识'},
                        {field: 'code', title: '前后端分离按钮控制标识'},
                        {
                            field: 'createTime', title: '创建时间', minWidth: 120, templet: function (item) {
                                return CoreUtil.formattime(item.createTime);
                            }
                        },
                        {
                            field: 'status', title: '状态', templet: function (item) {
                                if (item.status === 1) {
                                    return `<input type="checkbox" lay-skin="switch" lay-text="启用|禁用" checked disabled>`;
                                } else if (item.status === 0) {
                                    return `<input type="checkbox" lay-skin="switch" lay-text="启用|禁用" disabled>`;
                                }
                            }
                        },
                        {title: '操作', width: 180}
                    ]
                ]
            });
        };

//初始化菜单权限树
        var initTree = function () {
            CoreUtil.sendAjax("/api/permission/tree", null, function (res) {
                loadPermissionTree(res.data);
            }, "GET", true, undefined, false);
        };
//加载菜单权限数据
        var loadPermissionTree = function (data) {
//仅节点左侧图标控制收缩
            tree.render({
                elem: '#menuTree'
                , data: data
                , onlyIconControl: false //是否仅允许节点左侧图标控制展开收缩
                , click: function (obj) {
                    /*记录选中的目录菜单*/
                    selectNode = obj;
                    layer.msg(JSON.stringify(obj.data.title));
                }
            });
        };
        initTree();

    })
    /*初始化菜单权限列表数据*/
</script>
</html>